:root {
    --warna-ungu: 168 85 247;
    --warna-pink: 236 72 153;
    --warna-biru: 2 132 199;
    --warna-orange: 249 115 22;

    --warna-tema: var(--warna-orange);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.kotak {
    @apply w-[100px] h-[100px] m-10 bg-hijau;
    background-color: theme(colors.hijau / 50%);
}

/* ul li {
    @apply bg-pink-500;
} */